body {
    margin: 0px;

    font-family: "Open Sans", sans-serif;
    background-color: #2C2B3D;

    min-height: 100vh;
}

.page {
    width: 1000px;
    margin: 0 auto;
    padding-top: 71px;
}

nav{
display: flex;
justify-content: space-between;
align-items: center;

margin-bottom: 100px;
}

ul {
    display: flex;
    gap: 120px;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a {
color: #fff;
text-decoration: none;
}

h1, ul {
    font-family: "JetBrains Mono", monospace;
}

main {
    display: flex;
    align-items: center;
    gap: 82px;
    justify-content: space-between;
    flex-direction: row-reverse;

}

h1{
    font-size: 36px;
    line-height: 40px;
    color: #fff;

    font-weight: normal;
}

h1 span {
    color: #00BFA6;
    font-weight: bold;
}

section p {
font-size: 16px;
line-height: 28px;
color: #C2C2C2;
margin: 59px 0;
text-align: center;
}

footer {
    font-size: 14px;
    line-height: 28px;
    color: #fff;

    text-align: center;
    margin-top: 157px;
    margin-bottom: 21px;
}

#block {
position: fixed;
bottom: 20px;
left: 20px;
}

